<div class="animated fadeIn">
      
      
      
  <!--/.row-->
  <div class="row">




    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> {{params.title}}
          <div class="card-actions">
            <a href="#" class="btn-setting"><i class="icon-settings"></i></a>
            <a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
            <a href="#" class="btn-close"><i class="icon-close"></i></a>
          </div>
        </div>
        <div class="card-body">
            
        <ngb-tabset type="pills">
          <ngb-tab>
            <ng-template ngbTabTitle><i class="icon-screen-desktop"></i> Informations principales</ng-template>
            <ng-template ngbTabContent>
              <form class="form-horizontal">
                <!--START.PROPS DYNAMIC GENERATION-->
                <div *ngFor="let p of params.props">
                  <div class="form-group row" [ngClass]="{'has-error':true}">
                    <label class="col-md-3 form-control-label" for="text-input"> <i class="icon-info" ngbTooltip="{{p.tooltip}}"></i>  {{p.lib}} </label>
                    <div class="col-md-9" [ngSwitch]="p.type">
                      <textinputcomponent *ngSwitchCase="'text'" [model]="p.model" [value]="item[p.model]" (valueChange)="inpValueChange($event,p.model)"></textinputcomponent>
                      <longtextinputcomponent *ngSwitchCase="'longtext'" [model]="p.model" [value]="item[p.model]" (valueChange)="inpValueChange($event,p.model)"></longtextinputcomponent>
                      <timeinputcomponent *ngSwitchCase="'time'" [model]="p.model" [value]="item[p.model]" (valueChange)="inpValueChange($event,p.model)"></timeinputcomponent>
                      <booleaninputcomponent *ngSwitchCase="'boolean'" [model]="p.model" [value]="item[p.model]" (valueChange)="inpValueChange($event,p.model)"></booleaninputcomponent>
                      <dateinputcomponent *ngSwitchCase="'date'" [model]="p.model" [value]="item[p.model]" (valueChange)="inpValueChange($event,p.model)"></dateinputcomponent>
                      <fileinputcomponent *ngSwitchCase="'file'" [model]="p.model" (valueChange)="inpValueChange($event,p.model)"></fileinputcomponent>
                      <enuminputcomponent *ngSwitchCase="'enum'" [model]="p.model" [value]="item[p.model]" (valueChange)="inpValueChange($event,p.model)"></enuminputcomponent>
                    </div>
                  </div>
                  <hr>
                </div>
                <!--END.MENU DYNAMIC GENERATION-->
                
              </form>
            </ng-template>
          </ngb-tab>
          <ngb-tab *ngIf="this.params.repoName == 'prototypes'">
            <ng-template ngbTabTitle><i class="icon-drop"></i> Propriétés <span class="badge badge-pill badge-danger">29</span></ng-template>
            <ng-template ngbTabContent>
              <list-objects #loProps [gabIn]="gabProps"></list-objects>
            </ng-template>
          </ngb-tab>
          <ngb-tab *ngIf="this.params.repoName == 'prototypes'">
            <ng-template ngbTabTitle><i class="icon-grid"></i> Options</ng-template>
            <ng-template ngbTabContent>
              <form class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="text-input"> <i class="icon-info" ngbTooltip="{{p.tooltip}}"></i> Séquençable</label>
                  <div class="col-md-9" [ngSwitch]="p.type">
                    <label class="switch switch-default switch-success">
                      <input type="checkbox" class="switch-input">
                      <span class="switch-label"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="text-input"> <i class="icon-info" ngbTooltip="{{p.tooltip}}"></i> Séquençable</label>
                  <div class="col-md-9" [ngSwitch]="p.type">
                    <label class="switch switch-default switch-success">
                      <input type="checkbox" class="switch-input">
                      <span class="switch-label"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                </div>
                <hr>
              </form>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="card-footer">
        <div class="form-actions">
          <button type="button" [ladda]="saving" (click)="valid()" class="btn btn-primary">Valider</button>
          <button class="btn btn-default" type="button">Cancel</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>