.card-body {
  padding: 1rem;
  .actionBar{
    padding-bottom:5px;
    .lcol{
      input{
        width:150px;display:inline-block;
      }
    }
    .rcol{
      button,.dropdown {
        
        float: right;
      }
    }
  }
}