<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> {{params.title}}
          <div class="card-actions">
            <div href="#"><input type="text" placeholder="Filtre..." [(ngModel)]="filters.text" (ngModelChange)="filtersChange($event)"/></div>
            <a href="#" class="btn-setting"><i class="icon-settings"></i></a>
            <a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
            <a href="#" class="btn-close"><i class="icon-close"></i></a>
          </div>
        </div>
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Username</th>
                <th>Date registered</th>
                <th>Role</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items">
                <td>{{item.lib}}</td>
                <td>2012/01/01</td>
                <td>Member</td>
                <td>
                  <button class="btn btn-primary" (click)="edit(item._id)"><i class="icon-pencil"></i></button>
                  <button class="btn btn-danger" (click)="remove(item._id)"><i class="icon-close"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          <ngb-pagination size="sm" [(collectionSize)]="tabOptions.collectionSize" (pageChange)="onPageChange($event)" [(page)]="tabOptions.currentPage" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
