<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <widgetprojectdash [class]="'bg-prototypes'" [icon]="'icon-layers'" [lib]="'Prototypes'" class="col-6 col-lg-3"></widgetprojectdash>
    <widgetprojectdash [class]="'bg-objects'" [icon]="'icon-diamond'"  [lib]="'Objets'" class="col-6 col-lg-3"></widgetprojectdash>
    <widgetprojectdash [class]="'bg-langs'" [icon]="'icon-flag'"  [lib]="'Langues'" class="col-6 col-lg-3"></widgetprojectdash>
    <widgetprojectdash [class]="'bg-users'" [icon]="'icon-user'" [lib]="'Utilsateurs'"  class="col-6 col-lg-3"></widgetprojectdash>
   </div>
</div>
