<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <widgetprojectdash [class]="'bg-prototypes'" [icon]="'icon-layers'" [repo]="'prototypes'" [projectKey]="pkey" [lib]="'Prototypes'" class="col-6 col-lg-3"></widgetprojectdash>
    <widgetprojectdash [class]="'bg-objects'" [icon]="'icon-diamond'" [repo]="'objects'" [projectKey]="pkey" [lib]="'Objets'" class="col-6 col-lg-3"></widgetprojectdash>
    <widgetprojectdash [class]="'bg-langs'" [icon]="'icon-flag'" [repo]="'languages'" [projectKey]="pkey" [lib]="'Langues'" class="col-6 col-lg-3"></widgetprojectdash>
    <widgetprojectdash [class]="'bg-users'" [icon]="'icon-user'" [repo]="'users'" [projectKey]="pkey" [lib]="'Utilsateurs'"  class="col-6 col-lg-3"></widgetprojectdash>
   </div>
</div>
