@import "node_modules/ladda/css/ladda";

.nav-title a {
    color: #cfd8dc;
    float: right;
    padding: 0;
    margin-left: 5px;
}
.nav-link{
    font-size: 12px;
}
.vizLayout{
    padding: 0 !important;
    background-color: #333333;
}
.nav-link.nav-dropdown-toggle
{
    font-size: 12px;
}

.card-actions div {
    display: block;
    width: 195px;
    float: left;
    border: 0;
    border-left: 1px solid #cfd8dc;
    padding: 10px;
    input {
        display: inline-block;
        vertical-align: middle;
    }
}
.table td
{
    padding: 0.45em;
}

.table tr td:last-child{
    width:1%;
    white-space:nowrap;
}